@import "{{ minima }}";

body {
    background-color: #e0d4ac; /* Replace #ADD8E6 with your desired color code */
    font-family: 'Georgia', monospace;
    font-size: 13pt;

}

h1 {
    color: #32522a; /* Pastel Pink */
}
